@import url('https://fonts.googleapis.com/css2?family=Manrope:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


*{
  --title-font: "Manrope";
  --h1-font-weight: 500;
  --h2-font-weight: 500;
  --h3-font-weight: 600;
  --h4-font-weight: 600;
  --h5-font-weight: 600;
  --h6-font-weight: 600;
  --body-font: "Manrope";
  --mainmenu-font: "Manrope";
  --primary-color: #EF644C;
  --primary-color-rgb: 239, 100, 76;
  --btn-rounded:30px;
}

#subheader h1{
  border: none;
}